<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="Settings-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Settings</ion-card-subtitle>
        <ion-card-title>Clocker Settings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Settings to be here.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
